# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/vazen_db"

# Sentry
SENTRY_ORG=""
SENTRY_PROJECT=""
NEXT_PUBLIC_SENTRY_DSN=""
NEXT_PUBLIC_SENTRY_CSP_REPORT_ENDPOINT=""

# Posthog
NEXT_PUBLIC_POSTHOG_KEY=""
NEXT_PUBLIC_POSTHOG_HOST=""

# Upstash Redis
UPSTASH_REDIS_REST_URL="http://localhost:8079"
UPSTASH_REDIS_REST_TOKEN="vazen"

# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_API_KEY=

# Google OAuth
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Feature Flags
# FLAGS_SECRET is only required when using precompute :: https://flags-sdk.dev/docs/frameworks/next/precompute#prerequisites
# STATSIG_SERVER_API_KEY and NEXT_PUBLIC_STATSIG_CLIENT_KEY are required for Statsig feature flag evaluation
FLAGS_SECRET=""
STATSIG_SERVER_API_KEY=""
NEXT_PUBLIC_STATSIG_CLIENT_KEY=""
